
@import "font-awesome-sprockets";
@import "font-awesome";
@import "component/index";
@import "pages/index";

@import "bootstrap/scss/bootstrap"; /* picks it up in node_modules! */


body {
  background-color: rgb(33, 37, 49) !important;
}

/* -----------navbar------------ */
.navbar {
  background-color: rgba(26, 26, 26, 0.562);
  border-radius: 4px;
  height: 65px;
}

.navbar-brand {
  color: lightgrey;
  letter-spacing: -2px;
}

.fab {
  font-size: 30px;
  margin-left: 15px;
  color: rgba(21, 204, 228, 0.678);
}

.fas {
  color: rgba(21, 204, 228, 0.678);
}

/* ---------banner------------------ */

.img-box {
  background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%), image-url("costa-brava-landing.jpg");
  height: 640px;
  background-size: cover;
  position: relative;
  border-radius: 4px;
  margin-top: 40px
}

.headers {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  right: 20;
  top: 20;
}

.headers h1 {
  font-size: 60px;
}

.headers h2 {
  font-size: 45px;
  text-align: center;
}

/* -------Category cards-------- */
.row {
  margin-top: 0px;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: none;
  height: 270px;
  width: 330px;
}

.card:hover {
  background-color: rgb(33, 37, 49);
}

.card-body {
  background-color: rgba(33, 37, 49, 0.726);
  color: lightgrey;
  text-align: center;
}

.card-body i {
  font-size: 50px;
  margin-bottom: 10px;
}

.divide-line {
  /* border-bottom: rgba(238, 237, 237, 0.26); */
  color: rgba(21, 204, 228, 0.678);
    border-width: 1px;
    border-style: solid;
    margin-top: 40px;
    margin-bottom: 110;
    /* padding-left: 70px; */
    /* padding-right: 70px; */
    margin-left: 150px;
    margin-right: 150px;
}

/* ---------------card pictures-------------- */

.img-card1 {
  background-image: url("images/cambutal.jpg");
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: none;
  height: 400px;
  width: 600px;
  border-radius: 4px;
  color: transparent
}

.img-card1:hover {
  background-color: rgba(109, 112, 122, 0.726);
  color: lightgrey;
  text-align: center;
  background-image: none;
  padding-top: 100px;

}

.img-card2 {
  background-image: url("images/Mazeti.JPG");
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: none;
  height: 400px;
  width: 600px;
  border-radius: 4px;
  color: transparent
}

.img-card2:hover {
  background-color: rgba(109, 112, 122, 0.726);
  color: lightgrey;
  text-align: center;
  background-image: none;
  padding-top: 100px;
}

.img-card3 {
  background-image: url("images/morrillo.jpg");
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: none;
  height: 400px;
  width: 600px;
  border-radius: 4px;
  color: transparent
}

.img-card3:hover {
  background-color: rgba(109, 112, 122, 0.726);
  color: lightgrey;
  text-align: center;
  background-image: none;
  padding-top: 100px;
}

/* ------------------footer---------- */

.card-footert {
  background-color: rgba(26, 26, 26, 0.562);
  color: azure;
  height: 120px;
}