
@import "font-awesome-sprockets";
@import "font-awesome";
@import "component/index";
@import "pages/index";

@import "bootstrap/scss/bootstrap"; /* picks it up in node_modules! */


body {
  background-color: rgb(33, 37, 49) !important;
}

/* -----------navbar------------ */
.navbar {
  background-color: rgba(26, 26, 26, 0.562);
  border-radius: 4px;
  height: 65px;
}

.navbar-brand {
  color: lightgrey;
  letter-spacing: -2px;
}

.fab {
  font-size: 30px;
  margin-left: 15px;
  color: rgba(21, 204, 228, 0.678);
}

.fas {
  color: rgba(21, 204, 228, 0.678);
  font-size: 30px;
}

.about-and-links {
  display: flex;

}

.about-btn {
  text-align: end;
}

.about-btn a {
  color: lightgrey;
  text-decoration: none;
  margin-right: 25px;
  margin-bottom: 0px;
  text-align: end;
}

/* ---------banner------------------ */

.img-box {
  background: url('costa-brava-landing.jpg');
  height: 640px;
  background-size: cover;
  border-radius: 4px;
  margin-top: 40px;
  width: 100%;
  position: relative;
}

.headers {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  right: 80px;
  top: 40px;
  text-align: center;
}

.headers h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  color: rgb(33, 37, 49)
}

.headers h4 {
  text-align: center;
  font-weight: bold;
  letter-spacing: -1px;
  color: rgba(33, 37, 49, 0.733)
}

.headers a {
  color: white;
  text-align: center;
}

.go-to-btn {
  margin-top: 10px;
  border-radius: 4px;
  border-style: none;
  background-color: rgba(21, 221, 228, 0.678);
  color: white;
  font-weight: bold;
  height: 35px;
  width: 270px;
}

.go-to-btn:hover {
  margin-top: 10px;
  border-radius: 4px;
  border-style: none;
  background-color: rgba(21, 204, 228, 0.678);
  color: white;
  font-weight: bold;
  height: 35px;
  width: 270px;
}

.go-to-btn a:hover {
  border-radius: 4px;
  border-style: none;
  background-color: rgba(21, 204, 228, 0.678);
  color: white;
  font-weight: bold;
  height: 40px;
  width: 180px;
  text-decoration: none;
}


/*---------categories headers-----*/
.categories-header {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.categories-header h6 {
  color:lightgrey;
}


/* -------Category cards-------- */
.row {
  margin-top: 0px;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: none !important;
  height: 270px;
  width: 330px;
}

.card:hover {
  background-color: rgb(33, 37, 49);
  border-style: none;
}

.card-body {
  background-color: rgba(33, 37, 49, 0.726);
  color: lightgrey;
  text-align: center;
}

.card-body i {
  font-size: 50px;
  margin-bottom: 10px;
}

.divide-line {
  /* border-bottom: rgba(238, 237, 237, 0.26); */
  color: rgba(21, 204, 228, 0.678);
    border-width: 1px;
    border-style: solid;
    margin-top: 40px;
    margin-bottom: 110px;
    /* padding-left: 70px; */
    /* padding-right: 70px; */
    margin-left: 150px;
    margin-right: 150px;
}

/* ----------------------------carousel-------------------------------------- */
.carousel {
  margin-bottom: 50px;
  margin-top: 20px
}

.carousel-inner > .carousel-item > img {
  height: 650px;
}

.carousel-inner {
  border-radius: 4px;
}

.carousel-item {
  position: relative
}

.img1 {
  background: url('costa-brava-landing.jpg');
  height: 550px;
  background-size: cover;
}

.img1 > .carousel-caption {
  position: absolute;
  right: -30%;
  bottom: 60%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.img2 {
  background: url('costa-brava-2-35mm.jpg');
  height: 550px;
  background-size: cover;
}

.img2 > .carousel-caption {
  position: absolute;
  right: -30%;
  bottom: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.img3 {
  background: url('sagrada-35mm.jpg');
  height: 550px;
  background-size: cover;
}

.img3 > .carousel-caption {
  position: absolute;
  left: -15%;
  bottom: 8%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* ---------------card pictures-------------- */

/* .img-card1 {
  background: url('cambutal.jpg');
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: none;
  height: 300px;
  width: 500px;
  border-radius: 4px;
  color: transparent
}

.img-card1:hover {
  background-color: rgba(109, 112, 122, 0.726);
  color: lightgrey;
  text-align: center;
  background-image: none;
  padding-top: 100px;

}

.img-card2 {
  background: url('Mazeti.JPG');
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: none;
  height: 300px;
  width: 500px;
  border-radius: 4px;
  color: transparent
}

.img-card2:hover {
  background-color: rgba(109, 112, 122, 0.726);
  color: lightgrey;
  text-align: center;
  background-image: none;
  padding-top: 100px;
}

.img-card3 {
  background: url('morrillo.jpg');
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: none;
  height: 300px;
  width: 500px;
  border-radius: 4px;
  color: transparent
}

.img-card3:hover {
  background-color: rgba(109, 112, 122, 0.726);
  color: lightgrey;
  text-align: center;
  background-image: none;
  padding-top: 100px;
} */

/* ------------------footer---------- */

.card-footert {
  background-color: rgba(26, 26, 26, 0.562);
  color: azure;
  height: 120px;
}


/*--------------------index page----------------*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 4px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}